body{
    height: 90vh;
    font-family: MONtSERrAT, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 300px;    
    border:solid 2px;
    border-radius: 2px;
    padding: 10px;
    position: relative;    
    top: 50px;
}
#start_form{
    width: 300px;   
}
#start_form button{    
    text-align:   center;
    width: 100%;
    margin-top:  5px;
    margin-bottom: 5px;
    padding: 5px;
}
a{
    text-decoration: none;
}
#reg_form{
    border-color: #f11515;
}
#auth_form{
    border-color: #339900;
}
